html, body {
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
}

.wrapper {
    display: grid;
    width: 99vw;
    height: 99vh;
    grid-template-columns: 22% 43% 35%;
    grid-template-rows: 6% 20% 6% 34% 34%
}

.slider {
    grid-column: 1 / 4;
}
.heatmap {
    grid-column: 1 / 4;
}
.geo-selector {
    grid-row: 4 / 6;
    overflow-y: scroll;
}
.geo-selector ul {
    font-size: 0;
    list-style-type: none;
}
.geo-selector li {
    font-size: 12px;
    font-family: Verdana;
}

div {
    white-space: pre-wrap;
    float:left;
    clear:none;  
}

/* Tooltips */
.tooltip {
    position: absolute;
    display: none;
    z-index: 2;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    color: #000;
    box-shadow: 2px 2px 3px 0 #7a7a7a;
}
#map-tooltip {
    max-width: 500px;
}
.tooltip-title {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}
.tooltip-body {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
}

/* Map */
path {
    stroke: #444;
    stroke-linejoin: "round";
    vector-effect: non-scaling-stroke;
    fill-opacity: 80%;
}

path.selected {
    stroke: #000;
    stroke-width: 2px;
    fill-opacity: 100%;
}

path:hover {
    stroke: #000;
    stroke-width: 2px;
}

.legend {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #333;
    font-family: Arial, Helvetica, sans-serif;
}
.legend-g {
    width: 100%;
    height: 100%;
}
.legend-title {
    color: #000;
    text-anchor: middle;
    font-size: 10pt;
}

/* Heatmap */
/* rect {
    stroke: #aaa;
    stroke-width: 0.4pt;
} */
.cell {
    stroke: #555;
    stroke-width: 0.6pt;
}

.cell.selected {
    stroke: #000;
    stroke-width: 1.5pt;
}

.heatmap.bar {
    stroke-width: 0pt;
}

.cell.window {
    fill-opacity: 0%;
}
.legend-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

/* rect. */