html, body {
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
}

.wrapper {
    display: grid;
    width: 99vw;
    height: 99vh;
    grid-template-columns: 65% 35%;
    grid-template-rows: 6% 20% 6% 34% 34%
}

.slider {
    grid-column: 1 / 3;
}
.heatmap {
    grid-column: 1 / 3;
}

div {
    white-space: pre-wrap;
    float:left;
    clear:none;  
}

/* Tooltips */
.tooltip {
    position: absolute;
    display: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    color: #000;
    box-shadow: 2px 2px 3px 0 #7a7a7a;
}
#map-tooltip {
    max-width: 500px;
}
.tooltip-title {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}
.tooltip-body {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
}

path {
    stroke: #444;
    stroke-linejoin: "round";
    vector-effect: non-scaling-stroke;
}

path:hover {
    stroke: #000;
    stroke-width: 2px;
}